/******************************
        Main Content
******************************/

/*main video style*/
#main-video{
    background: #212121;
    margin-top: 75px;
}

#main-video .embed-responsive-16by9 {
        padding-bottom: 54%;
    }

#main-video iframe{
    max-width: 720px;
    max-height: 405.455px;
}

#main-video .main-video__video{
    padding: 30px 0;
}

@media(max-width:768px){
    #main-video .main-video__video,
    #main-video .main-video__video .col-xs-12,
    #main-video .main-video--title .col-xs-12{
        padding: 0;
    }
    #main-video iframe{
        max-width: 100%;
        max-height: 100%;
    }
}

@media(min-width:992px) and (max-width:1199px){
    #main-video .embed-responsive-16by9 {
        padding-bottom: 43.25%;
    }
    #main-video iframe{
        left:11.7%;
    }
}

@media(min-width:1200px){
    #main-video iframe{
        left:18.421%;
    }
    
    #main-video .embed-responsive-16by9 {
        padding-bottom: 35.5%;
    }
}

/*main title style*/
#main-video--title{
    background: #f5f5f5;
    padding: 15px 0;
    padding-bottom: 30px;
}
#main-video--title .main-video__title{
    max-width: 720px;
    float: none;
    margin: 0 auto;
}

#videoDescription{
    padding-top: 20px;
}

#main-video--title .btn.btn-red.btn-random{
    margin-top: -10px;
    width: 150px;
}

@media(max-width:767px){
    #main-video--title .btn.btn-red.btn-random{
        width: 100%;
        margin-bottom: 20px;
    }
    #main-video--title .btn-desc{
        display: block;
    }
}

@media(max-width:480px){
    #main-video--title{
        padding-bottom: 20px;
    }
    #main-video--title h4{
        font-size: 15px;
    }
}

.content__creator-img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

/******************************
        EOF Main Content
******************************/






/******************************
        random
******************************/

#random.content{
    padding: 30px;
}

#random .random__video-info{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #f5f5f5;
    border-radius: 5px;
}


/******************************
        EOF random
******************************/