/******************************
        Main Content
******************************/

/*banner style*/
#explore-banner{
    background: #fff;
    margin-top: 75px;
}


/******************************
        explore
******************************/

#explore.content{
    padding: 30px 0;
}

#explore .explore__video-info{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #f5f5f5;
    border-radius: 5px;
}

#explore .container .row img{
    cursor: pointer;
}

/******************************
        EOF explore
******************************/


/******************************
        modal video
******************************/

@media(max-width:480px){
    .modal__kreator-detail h4{
        font-size: 15px;
    }
}

.content__creator-img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.modal__kreator-detail{
    background: #f5f5f5;
    padding: 5px 0;
    margin-top: 10px;
}

.kreator-detail__video-desc{
    margin-top: 20px;
    word-wrap: break-word;
}

/******************************
        EOF modal video
******************************/