/*******************************
GLOBAL CLASS CSS
IDTUBER v.1.04 - "Naked Lady"

                          ,.--..
                       ,:'.   .,'V:.::..  .
                     ,::.,..  . . 'VI:I'.,:-.,.
                    :I:I:.. .   .    MHMHIHI:MHHI:I:,.:.
                   :I:I:.. .   .    MHMHIHI:MHHI:I:,.:.
                   A:I::. ...  .   .MMHHIIHIHI:IHHII:.:,
                  .M:I::... ..   . AMMMMMHI::IHII::II.::.
                  IMA'::.:.. .    .MMMMMHHII:IMHIHIA:::',
                  ,MV.:.:.. .     AMMMMHMHI:I:HIHHIIIA;.
                   P.:.:.. .  .  .MMMMMMMHHIIMHHHIIHIIH.
                   :..:.. . .    AMMMMMMMHHI:AMIVHI:HIII:
                  ,:. :.. .  .    MMMMMMMMMH:IHHI:HHI:HIIH.
                  :..:...  .    .MMMHP:'',,,:HHIH:HHH:HIII
                 ;.:..:.. .     AMH:'. , , ,,':HII:HHH:HII:
                 ::..:.. . .   .H:,.. .     ,'.:VA:I:H::HI:
                ;.:.:... ..    A:.,...     .   ,:HA:IHI::I:
               ,::..:. . .    .M::. .    .      ,:HA:HH:II:.
               ;.::... ..     AML;,,,       .    .:VHI:HI:I:;
              ,:.:.:. . .    .H. 'PA,           .:IHH:HHII::.
             ,:.::... ..     A:I:::';, .   .  ,ILIIIH:HI:I:I;
            ,;:.:.:.. . .   .H:TP'VB,)..   .,;T;,,::I:HI:I:::
           ,::.:.:.. . .    AI:.':IAAT:.  .(,:BB,);V::IH:I:I;
         ,::.:.:.. . .    .H:. , . . ..  .':;AITP;I:IIH:I::;,
        ,::.::.:. . . .   A::.   . ..:.  .  . ..:AI:IHII:I::;.
         ;:.::.:.. .  .   AM:I:.   ..:.   .: . .::HIIIHIIHII::.
        ,:::.:.:..  .    .MM:I:..  .:,    .:.  .::HHIIIHIHII::;
       ,::.:..:.. .   .  AMM:I:.  . .,'-'',,. ..::HIHI:HI:III:
       ;:.::..:.. . .   AMMM::. . ,,,, ,..   ,.::IMHIHIHIIHI::;
      ,:::.:..:. .   .  MMMM:I:.  ,:::;;;::;, .::AMHIHIHHIHHI:'
      ;::.:.:.. . .   .:VMMV:A:. .  ,:;,,.'  .::AMMMIHIHHIHHII
     ;::.:.:.. ..  .  .::VM:IHA:. .,,   , . ..:AMMMMHIHHHIHHII:
     ;:::.:.. .  .. . .::P::IHHAA.. .   .. .:AMMMMMMMIIHHIHHI::
     ;::.:.. .  . .  ..:.:VIHHHIHHA::,,,,,:AMMMMMMMMMHIIHHHHII;
     ;.::.. .    . .  ..:.;VHHIHI:IHIHHIHI:MMMMMMMMMMHIHHIHHII:
     ::.:.. .     ..  ...:.::VHI:IIVIHIHII:MMMMMMMMMMMIHHIHHII:,
     ;:..:. .    ..  . ..:.::::VAII:IIIIII:MMMMMMMMMMMIHHIIHIIHI
     ,;:.. .        . .. ..:...:.VII::III:.VMMMMMMMMMHIHHHIHI::I,
      ;:. . .    , . .. ... . .::.::V::II:..VMMMMMMMMHIHHHIHI::I;
      ;:.. . .     . .. ..:..  .::...:VIITPL:VMMMMMMMVIHHHIH:. :;
      ;:. .  .    . .. ... .   ..:.:.. .:IIIA:.MMMMMVI:HIHIH:. .:
      I:. . .   . .. . .. . . . . ..:.. ..::IIA.VMMMVIHIIHIV:. .,
      I:..    . . .. .... .  .   . .. ... .:.:IA:.VMVIMHIHIH:..:
      I.. .  .  . ..... .       .  . .. . .. .:IIAV:HIMHHIHII:.;
      :. ..   . . .:.. .          .  .. ... ..::.:CVI:MHHIHHI...
      :..  . . .. ..:.               . . ... .:.:::VHA.VIHHMI:..
      :. .. .  . ..:..        . .     . .  ..  .. ...:VIIHIHI: .
      ,:.. .  . .::. .       .::,.      .    .  . .  ...V:IHII..
       ;:.. .. .:I:.        ..:T'::.     .  . .  .  . .  .VIIH:.
       ;:.:.. .:I:..        .::V:::.         . . . .  .    VIII..
       ;:.. ..::::. .        ..::. .      .  . .. . .  .    VIII.
       I:.:.. .:I:.           ..:.,        . . .. :. .  .    'VI:.
       I::......::.  .                    . .. .:.:.:. .       'I:
       II::.. ..::. .       .    .     . .. .. .::::.. .      .:.
       II::.:. ..::. .  . .   .    .     .:. . .:I:::. .       .::HD
       ,I:::.. .: . .. ..  .. . .    .  .::. . .:I:. .         .:V:
        I:. .. .  . . ... ..  .. . .    .. ..  ..::.             .:.
        I:.. .. .  ..:.. .. .. ..  . .      .   .                . :
        ;:.... . ..:::I:.. ..:.. ... .::. . ... . ..              .I.
        ::.:....::.::I:III:I::::I:II:I::.. .:.. . .:. .     .  . .AI:
        ,::.:...:..::::::III::II::::::.. ...::. .  .::. . .. .  .AMMI.
          :::.:.:. ..::::III:II:I:::.:. .. ..::.. ..  ..::,.  ..::HMMI:
         ,:::.:.. ...::I:::I:I:::.:.. :. . ..::.. . . . .,PTIHI:IIHHI:.
          ::I::.:...:::II:I::.:....:.:. . ...::. .  . .  .AI:IHI,,:,  ,.
          ,:::.:... ..I::I::.:....:. .: .. ...::. .  .   III:II:.  ,
           ,I:::..:...:.::I::.:..:. .: .. . ..:... .  .  III.I,
            VI:::.::.::...:II::...:...:. . . .:::. . .   :,,
            ,HI:I::.::.::..:II::.:..:.... . .:.:I:.. .   :
             VI:I:I::.::.:...:I:::I:::.... ..:.:I::...   :
             ,II:I::II:I:::.:.:I:III:I:... ....::::... .  :
              VII::I::I::.::..:.::II::.:.. . .:.::::. .   .
               VI:.:..::II:::..:..::.... .   ..::I::...  . .
               ,I::.. ..::II::..:.::.... . ...::I:::.   .  .
                V::.:.. .:I:II::.:..::.. .. ...:::I::..  . . .
                I:::.:....::III:::.:..:.:.. .:.:II:::. .  . . .
                I::.:::...:::II::.:.:.:... ...:II::.. . . . .  .
                I::..:...:.:::.:.:.:.:..:.. .:II:. .. .    . .   .
               .::.:.:....:.:::.:.:.:.:.: . .:I:... . . . . .  .  .
               :.:.:...:.:.:::.::.:.::.... .:::.. .. .  . .  . .
              .:. ..:.:.:::.:..::.::.:.. . .::.. .. . . .  . . .   :
             .:. .:....::..:.:.:.:.:... .. .NI:.. . .. . . .  . .  :.
            .:. . . ..:.:.::.::.::.::.::.. . :.:.. .. .. . . . . . .)O
           .:.. ... .. ..:.::.::.:::.:..:.. . ..:.. .. .. . .. . . ,()
           ::.:. ...:.. ..:..::..::.:.:.:.:. .:.:... .. .. .:.. ..0OO.
          /:::.:...:.:..:..:..::.::.::.:..:..:.:..:.... ..:.:..:.()',
        (0):::.::...:..:..:...::::I:.:I:.:.:.::.::..:.:...:..::O0O... .
         : ::.:..:.:..:.:..:.:I:.::I:::I::.:I::.I:.::..:.:.::.:/0O/.. .
        .:: ::I:.:..::.::.::.::I:::I::.:I::.::I::.:::.::.I::( ):.:..  .
        '.:: ::I:.:..::.::.::.::I:::I::.:I::.::I::.:::.::.:I::( ):.:.. .
        ::I:::,(,,)OO::.:.::.::III:::III::III::I:::::.:I:'V0O:., .   .
       .:::I::I::-:000::..:::.::::III:I::I::II::I:::IIII( ),) .    . . .
       .:.::I::II:I(,)(  )00):.::.::II:I:II:I:I:::III0OO'.M:M.   . . .
       .. .:.::.:I:I:IIHHI000 ,)OO:II:O:II:III::OO(')00//XXVM . .. . . .
       . .. ..:.::.::II:II:III,(0O0'')!0:III:(0OO)..AMV AXXXXI .. .. . .
       . :.. . .::I:IIIHHII:IHIHH(0),,0OOO( )M00AMMHMM,,XXXXXX.. . .  .
      .:.:.:.. . ..:IHHHII::::.,.MMIIIMMXIMMMMMMMMMMV AXXXV:MI. .. .  .
      ::.:.:.:.:.. . ,,., .. ..:.MMIII:MMIMMMMMMMMMMMM, .X::M.MI.. . . .
     .::.::..::.:.:.:. .  .. .::AMMXXXIAMHMMIHMMMMMMV ...::M.MM ... . ..
     ::.::.::.::.::.:.:.. . .:::MMXXXXI:.:VMMHMPMHVMI ..:I:H-,',,.:. . .
    ::.::..:.:.:..:.:.::.:. . .:MMXXX:IXX:MMMMMLMMAM, ..I:M.  :  ,:.. .
   .::.:..:...:...::.:.::I::...IMM:XXX:XX:LMMMMMI:MV  ..I:V   .   :... .
   :.:.:..:.:.:..:..:::II:II:'..M'.VMXX:XXMMMMMMMI.I ...IVI   .  .::. ..
  :.:.:.:.:.:.::...:.::IHI, - . .'VIMHX:XIIMMV/IMLMI ...HV     .  ::.. .
 .::.:.:.:.:..:.. ..::IHI:-.  . .  ',IX:XXIVMI XMMV I...HI    .   :::...
.::.:.:.:.:.:.. ...:.:IHHHI:., .    .XXX:XX.MMAXMHA I..AMI    .    ::...
::.::.::.:.:.... .:.:IHHIHI'. ..    :XXX:XX:MHHIMMMAI,AHHI     .  :::...
:::.:.:.:.:.:.. .:.::IHHHHI:  ..   ,:XXX:XX:MV''.I,V:,:HHI.    .   :::..
::.::.:.:..:.. ...::IIHHHHI:   .   :.XXX:XXXI:.,.    '-VH:    .    ::.:.
:::.::..:..:.. ..:.:IHHHHHI,   .    ::XX:XXXI:.A. .  'VHH      .   :::..
::.::.::.:... ...:::IIHHHIH   ..    :IAX:XXXIHHH:  .  .:MI    .   .:::..
:::.::.:..... ..:.::IIHHIHH   .     ::XX:IXXIHHV .     'V. . . .  :I:::.
:.::.:.:... ...:.::IIIHHHIH    .    I:XX:XXVHMMI .      I.. .:. . .I::.:
::.:::.:.... ..:.::IIIHIHHH.  .     :'XX:XXXVIVI  . .   ::..:. . .I::::.

*******************************/



/*******************************
Global Main Classes
*******************************/
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


a,
a:focus{
    color: #db466b;
    text-decoration: none!important;
    transition: all ease .5s;
    -o-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

a:hover{
    text-decoration: none!important;
    color: #a62670;
}
/*******************************
EOF Global Main Classes
*******************************/





/*******************************
Shorthand Classes
*******************************/
.btn-dark-red:hover,
.btn-dark-red:active {
    background: #752252;
    color:white;
}

.btn-red:hover,
.btn-red:active{
    background: #b8466b;
    color:white;
}

.btn-red,
.btn-red:focus {
    background: #db466b;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

.btn-dark-red,
.btn-dark-red:focus {
    background: #a62670;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

/*color*/
.color-red {
    color: #db466b;
}
.color-dark-red {
    color: #a62670;
}
.color-white {
    color: #fff!important;
}
.color-black {
    color: #555!important;
}

/*padding*/
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis-2line{
    line-height: 1.5em;
    height: 5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
.ellipsis-2line:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1.5em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.pointer{
    cursor: pointer;
}

.lh-15{
    line-height: 1.5;    
}
.m-10{
    margin: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mt-0{
    margin-top:0!important;
}
.mt-5{
    margin-top:5px!important;
}
.pt-5{
    padding-top:5px!important;
}
.pt-0{
    padding-top:0;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mb-0{
    margin-bottom: 0px!important;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5    {
    margin-left: 5px;
}
.ml-0    {
    margin-left: 0px!important;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-15{
    margin-bottom: 15px;
}
.mlr-0{
    margin-left: 0;
    margin-right: 0;
}
.mtb-0{
    margin-top: 0;
    margin-bottom: 0;
}
.fs-20{
    font-size: 20px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-15{
    font-size: 15px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.plr-0{
    padding-left: 0;
    padding-right: 0;
}
.plr-5{
    padding-left: 5px;
    padding-right: 5px;
}
.plr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pd-5{
    padding: 5px;
}
.pd-10{
    padding: 10px;
}
.pd-15{
    padding: 15px;
}
.pd-20{
    padding: 20px;
}
.pb-0{
    padding-bottom: 0;
}
.p-0{
    padding: 0!important;
}
.p-5{
    padding: 5px!important;
}

.va-middle{
    vertical-align: middle;
}

/*font weight*/
.bold{
    font-weight: 500;
}
.ultrabold{
    font-weight: 700;
}

/*display*/
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}


/*******************************
    EOF Shorthand Classes
*******************************/





/******************************
        Navigation
******************************/

#navigation{
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    height: 60px;
    width: 100%;
    padding: 0px 15px;
    position: fixed;
    z-index: 1000;
}

    #navigation #nav-logo{
        width: 160px;
        height: 40px;
        float: left;
        margin-top: -10px;
        text-indent: -9999px;
        background-image: url('../img/idtuber-icon.svg');
        background-repeat: no-repeat;
    }

/* Search Style */

    #navigation #nav-search{
        margin-top: 10px;
        display: inline-block;
    }

        #navigation #nav-search .input-group{
            position: relative;
            width: 200px;
        }

        #navigation #nav-search .input-group i.fa.fa-search{
            position: absolute;
            background: white;
            padding: 5.5px;
            right: -15px;
            z-index: 3;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        #navigation #nav-search input{
            height: 25px;
            font-size: 13px;
            font-weight: 300;
            box-shadow: none;
            border: none;
            transition: all ease .5s;
            -webkit-transition: all ease .5s;
            -o-transition: all ease .5s;
            -moz-transition: all ease .5s;
        }

        #navigation #nav-search input:focus{
            background: #777;
            color: white;
        }
    
/* EOF Search Style */
    
/* Navigation Link Style */
    
    #navigation #navbar-collapse ul li a{
        font-size: 12px;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
    } 
    
        #navigation #navbar-collapse ul li a#nav-signup{
            background: #db466b;
            color: white;
            height: 30px;
            margin-top: 10px;
            line-height: 0;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
        } 
    
        #navigation #navbar-collapse ul li a#nav-signup:hover{
            background: #a62670;
            color: white;
            height: 30px;
            margin-top: 10px;
            line-height: 0;
            border-radius: 5px;
        }
    
        #navigation #navbar-collapse ul li#nav-user > a{
            height: 40px;
        }

        @media(min-width:768px){
            #navigation #nav-logo{
                margin-top: -5px;
            }
            #navigation #navbar-collapse ul li a{
                line-height: 2.5;
            } 
            #navigation #navbar-collapse ul li#nav-user > a{
                line-height: 2.5;
                height: 60px;
            }
            #nav-user img#kreator-logo {
                width: 40px!important;
                height: 40px!important;
            }
        }

        #navigation #navbar-collapse ul li#nav-user .dropdown-menu{
            font-size: 12px;
            margin-top: -1px;
            border: 1px solid #eee;
        }

        #nav-user img#kreator-logo {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid;
            margin-top: -5px;
            margin-right: 5px;
            float: left!important;
        }
    
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user{
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
    
        #navigation #navbar-collapse ul li#nav-user .navbar-login {
            width: 250px;
            padding: 10px;
        }
    
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a{
            padding: 5px;
            margin: 10px 0;
            border: 1px solid #eee;
            border-radius: 5px;
            display: block;
            text-align: center;
        }
    
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a.btn-red{
            transition: all ease .5s;
            -o-transition: all ease .5s;
            -moz-transition: all ease .5s;
            -webkit-transition: all ease .5s;
        }
    
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a:hover,
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a.btn-red:hover{
            background: #eee;
            color: #a62670;
        }
    
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li:last-child a{
            margin: 0;
        }

        

/* EOF Navigation Link Style */
    
/* Burger Style */

#nav-burger {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

        #nav-burger span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #db466b;
          border-radius: 10px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }

    #nav-burger span:nth-child(1) {
      top: 2px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-burger span:nth-child(2) {
      top: 12px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-burger span:nth-child(3) {
      top: 22px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-burger.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 2px;
      left: 8px;
    }

    #nav-burger.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-burger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: 8px;
        top: 20px;
    }

/* EOF Burger Style */
    
/* Media Queries */

@media(max-width:767px){
    #navigation{
        height: auto;
        padding-left: 0;
    }
}

    @media(min-width:768px) and (max-width:992px){
        #navigation #nav-search .input-group{
            width: 160px;
        }
        
        #navigation #navbar-collapse ul li a{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media(max-width:767px){
        #navigation {
            box-shadow: 1px 1px 5px 1px rgba(51,51,51,0.3);
        }
        #navigation #nav-search{
            margin-bottom: -15px;
            margin-top: -10px;
            display: block;
        }
        #navigation #nav-search .input-group{
            width: 100%;
        }
        #navigation #nav-search .input-group input{            
            height: 29px;
        }
        #navigation #nav-search .input-group i{            
            padding: 8px!important;
        }
        
        #navigation #navbar-collapse ul li a{
            border-bottom: 1px solid #eee;
            text-align: center;
        }
        #navigation #navbar-collapse ul li a#nav-signup,
        #navigation #navbar-collapse ul li a#nav-signup:hover{
            line-height: .8;
        }
        #navigation #navbar-collapse ul li{
            padding-left: 15px;
        }
        #navigation #navbar-collapse ul li:last-child a{
            border-bottom: none;
        }
        #navigation #navbar-collapse ul li a#nav-signup{
            margin-left: 0px!important;
        }
        #navigation #navbar-collapse #nav-user ul li{
            padding-left: 0px;
        }
        #navigation #navbar-collapse ul li#nav-user > a {
            height: 40px;
        }
        #navigation #navbar-collapse ul li#nav-user > a i,
        #navigation #navbar-collapse ul li#nav-user > a img{
            float: none!important;
        }
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu {
            border: none;
        }
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu .navbar-login{
            width: 100%;
            text-align: center;
            padding: 0;
        }
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu .navbar-login ul li a{
            padding: 10px;
        }
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a:hover,
        #navigation #navbar-collapse ul li#nav-user .dropdown-menu ul.dropdown-user li a.btn-red:hover{
            background: #fff;
            border-color: #fff;
        }
    }
    
/* EOF Media Queries */

/******************************
        EOF Navigation
******************************/






/******************************
        Content Global
******************************/

.content{
    padding-top: 60px;
    padding-bottom: 50px;
}
.alert-idtuber{
    background: rgba(219,70,107, 0.3);
}
.alert-idtuber a{
    text-decoration: underline;
}
.content__creator-img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
    background: white;
}
/******************************
        Social Media
******************************/

.fa-facebook-square:before {
    color: #3b5998!important;
}

.fa-facebook-square:hover:before {
    color: #2D4475!important;
}

.fa-twitter-square:before {
    color: #55acee!important;
}

.fa-twitter-square:hover:before {
    color: #4182B3!important;
}

.fa-google-plus-square:before {
    color: #dd4b39!important;
}

.fa-google-plus-square:hover:before {
    color: #9C3124!important;
}

.fa-instagram:before {
    color: #125688!important;
}

.fa-instagram:hover:before {
    color: #123854!important;
}

.fa-link:before {
    color: #727272!important;
}

.fa-link:hover:before {
    color: #333333!important;
}

/******************************
        EOF Social Media
******************************/



/******************************
        Footer
******************************/
footer {
    padding: 50px 0;
    background-color: #333;
    color: white;
    z-index: 10;
    position: relative;
}

footer a{
    color: #db466b;
}

footer a .fa:before{
    color: #db466b!important;
}

footer a:hover,
footer a:focus{
    color: #b8466b;
    text-decoration: none;
}

@media(max-width:991px){
    footer h3{
        font-size: 20px;
    }
}

@media(max-width:767px){
    footer{
        padding: 10px;
    }
    .content__video-title{
        margin-bottom: 0px;
    }
    footer h3{
        font-size: 18px;
    }
}

p.copyright {
    margin: 15px 0 0;
}
/******************************
        EOF Footer
******************************/