/***********************
    CONTENT LEFT SIDE
************************/
.content__creator-info{
    padding: 10px;
    margin-right: 15px;
    background: #f5f5f5;
    border-radius: 5px;
    display: block;
    position: relative;
}
.content__creator__divider{
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}

@media(max-width:767px){
    .content__creator-info{
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
    }
}

.content__creator-info ol, 
.content__creator-info ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.content__creator-info__about{
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
    word-wrap: break-word;
}
.content__creator-img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 1px solid #ddd;
}
/***********************
    EOF CONTENT LEFT SIDE
************************/





/***********************
    Content Right SIDE
************************/

.other-videos__video-info{
    padding: 10px 5px;
    margin-top: 10px!important;
    margin-bottom: 20px;
    background: #f5f5f5;
    border-radius: 5px;
    font-size: 13px;
}
.other-videos__video-info p{
    margin: 0;
}

/*pagination*/
#other-video-paging .pagination>li>a,
#other-video-paging .pagination>li>span {
  border: 1px solid #ddd;
  color: #555;
    font-weight: 500;
}
.pagination>li.active>a {
  background: #db466b!important;
  color: #fff!important;
}
.pagination>li.active>a:hover {
  border: 1px solid #db466b!important;
  background: #db466b!important;
  color: #fff!important;
}
/***********************
    EOF CONTENT Right SIDE
************************/