/*video style*/
.content{
    padding: 20px;
}

.video-info{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #F5F5F5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

.video-info p{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    word-wrap: normal;
    display: block;
    
    overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
    white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
    text-overflow: ellipsis; /* to do what you want. */
}

.container .row img{
    cursor: pointer;
}

.section-title{
    font-size: 20px;
    color: #db466b;
    border-left: 5px solid #db466b;
    padding-left: 10px;
    margin-bottom: 20px;
}

/*hero*/
#hero{
    padding-top: 80px;
}

.hero__featured{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__featured__item--main{
    width: 50%;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.hero__featured__item{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25.5%;
    float: left;
}

.hero__featured__item li,
.hero__featured__item--main{
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.hero__featured__item li img,
.hero__featured__item--main img{
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__featured__item li:hover img,
.hero__featured__item--main:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hero__featured__item li:hover .imgDesc,
.hero__featured__item--main:hover .imgDesc{
  height: 100%;
  top: 0;
  margin-top: 0;
}

.imgDesc{
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(219,70,107,0.8);
  color: #fff;
  margin-bottom: 0;
  padding: 10px;
    
  display: flex;
  align-items: center;
  justify-content: center;

  transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -webkit-transition: ease all 0.2s;
}



@media(max-width:991px){
    .hero__featured{
        display: block;
    }
    .hero__featured__item li,
    .hero__featured__item--main{
        margin: 0;
    }
}

@media(min-width:768px) and (max-width:991px){
    .hero__featured__item--main{
        width: 100%;
        float: left;
    }
    ul.hero__featured__item{
        display: inline;        
        float: none;
    }
    .hero__featured__item li{
        display: inline;        
        width: 49%;
        float: left;
        margin-top: 10px;
    }
    .hero__featured__item li:last-child{
        float: right;
    }
}

@media(max-width:768px){
    .hero__featured__item--main{
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    ul.hero__featured__item{
        display: inline;        
        float: none;
    }
    .hero__featured__item li{
        width: 100%;
        margin-bottom: 10px;
    }
}
/*EOF hero*/


#videos-of-the-week,
#new-videos{
    background: #F5F5F5;
}
#videos-of-the-week .video-info,
#new-videos .video-info{
    background: #FFFFFF;
}

#music-spotlight{
    background: #212121;
    background-image: url('../img/spotlight-background-pattern.png');
    background-repeat: repeat;
    -ms-background-size: 300px;
    -o-background-size: 300px;
    -moz-background-size: 300px;
    -webkit-background-size: 300px;
    background-size: 300px;
}

#hardcore-gamers{
    background: #212121;
    background-image: url('../img/geometry.png');
    background-repeat: repeat;
    -ms-background-size: 300px;
    -o-background-size: 300px;
    -moz-background-size: 300px;
    -webkit-background-size: 300px;
    background-size: 300px;
}

#music-spotlight .section-title{
    color: white;
    border-color: white;
}

/******************************
        Last CTA
******************************/
#cta{
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/bg/end-cta.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0px;
}
.cta__heading{
    color: white;
}
#cta p{
    width: 600px;
    margin: 0 auto;
}

#cta .btn{
    padding: 15px;
    width: 80%;
    max-width: 350px;
}

#seo p{
    font-size: 11px;
    color: #777;
    text-align: center;
}
/******************************
        EOF Last CTA
******************************/

