/*******************************
        GLOBAL CLASS
*******************************/

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-dark-red:hover {
    box-shadow: 0 2px #752252;
    top: 2px;
    color:white;
}
.btn-dark-red:active {
    box-shadow: 0 0 #752252;
    top: 6px;
    color:white;
}

.btn-red:hover {
    box-shadow: 0 2px #b8466b;
    top: 2px;
    color:white;
}
.btn-red:active {
    box-shadow: 0 0 #b8466b;
    top: 6px;
    color:white;
}
.btn-red {
    background: #db466b;
    color: #fff;
    box-shadow: 0 4px #b8466b;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}
.btn-dark-red {
    background: #a62670;
    color: #fff;
    box-shadow: 0 4px #752252;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

/*color*/
.color-red {
    color: #db466b;
}
.color-dark-red {
    color: #a62670;
}

/*padding*/
.ellipsis{
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.ellipsis-2line{
    line-height: 1.5em;
    height: 5em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
.ellipsis-2line:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1.5em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.lh-15{
    line-height: 1.5;    
}
.mt-10{
    margin-top: 10px;
}
.mt-0{
    margin-top:0;
}
.pt-0{
    padding-top:0;
}
.pt-0{
    padding-top:0;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5    {
    margin-left: 5    px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mlr-0{
    margin-left: 0;
    margin-right: 0;
}
.mtb-0{
    margin-top: 0;
    margin-bottom: 0;
}
.fs-20{
    font-size: 20px;
}
.fs-15{
    font-size: 15px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.plr-0{
    padding-left: 0;
    padding-right: 0;
}
.plr-5{
    padding-left: 5px;
    padding-right: 5px;
}
.plr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pd-5{
    padding: 5px;
}
.pd-10{
    padding: 10px;
}
.pd-15{
    padding: 15px;
}
.pd-20{
    padding: 20px;
}

/******************************
          Navigation
******************************/
.topnav {
    font-size: 14px;
    padding: 5px;
}

.navbar-idtuber{
    background-color: white;
    border-bottom: 1px solid #eee;
}

.navbar-idtuber__logo{
    width: 160px;
    height: 40px;
    float: left;
    text-indent: -9999px;
    margin-top: -10px;
    background-image: url('../img/idtuber-icon.svg');
    background-repeat: no-repeat;
}
.navbar .nav button{
    display: block;
    position: relative;
    margin: 8px;
    margin-left: 10px;
}

.navbar-toggle{
    border: 1px solid #333!important;
}

.navbar-idtuber .navbar-toggle:hover{
    background: #f5f5f5;
}

.navbar-idtuber .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-idtuber li a{
    color: #727272;
    margin-top: 7px;
    padding: 8px;
    margin-left: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-idtuber li a:hover{
    color: #333;
}

@media(max-width:992px){
    .navbar-idtuber__logo{
        width: 120px;
        height: 30px;
        margin-top: -5px;
    }
}

@media(max-width:767px){
   .navbar .nav button{
        width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
   
   .navbar .nav li a{
        width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
       border-radius: 5px;
    }
}

/******************************
        EOF Navigation
******************************/






/******************************
        Content Global
******************************/

.content{
    padding-top: 90px;
    padding-bottom: 50px;
}

/*Right Panel*/
.content__video-title{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.content .btn-random{
    margin-top: 20px;
    width: 100%;
}
.content__other-videos{
    background: #f5f5f5;
    padding: 10px;
}
.content__other-videos .thumbnail{
    padding: 0; 
    margin-bottom: 0px; 
    margin-top: 5px;
    background-color: transparent; 
    border: none; 
}

/*Left Panel*/
.content__creator-info{
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}
.content__share{
    padding: 10px 10px;
    background: #f5f5f5;
    border-radius: 5px;
}
.content__creator-img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.content__video-desc{
    background: #f5f5f5;
    border-radius: 5px;
}
#video_desc__arrow.active {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#video_desc__arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#video_desc {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#video_title h5 a {
    display: block;
    padding: 10px 0px;
    padding-bottom: 0px;
    color: #db466b;
    text-decoration: none;
}
#video_title h5 a:hover,
#video_title h5 a:focus,
footer a:hover,
footer a:focus{
    color: #b8466b;
    text-decoration: none;
}

/******************************
        EOF Content
******************************/






/******************************
        Footer
******************************/
footer {
    padding: 50px 0;
    background-color: #333;
    color: white;
}

footer a{
    color: #db466b;
}

@media(max-width:767px){
    footer{
        padding: 10px;
    }
    .content__video-title{
        margin-bottom: 0px;
    }
}

p.copyright {
    margin: 15px 0 0;
}
/******************************
        EOF Footer
******************************/