/***********************
    CONTENT LEFT SIDE
************************/

.content__creator-info{
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    display: block;
    position: relative;
}

.content__creator-info ol, 
.content__creator-info ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.content__creator-info__about{
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
}
.content__other-videos{
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
}
.content__other-videos .thumbnail{
    padding: 0; 
    margin-bottom: 0px; 
    margin-top: 5px;
    background-color: transparent; 
    border: none; 
}

@media(max-width:767px){
    .content__other-videos .caption{
       text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
}

/*pagination*/
#other-video-paging .pagination>li>a,
#other-video-paging .pagination>li>span {
  border: 1px solid #ddd;
  color: #555;
    font-weight: 500;
}
.pagination>li.active>a {
  background: #db466b!important;
  color: #fff!important;
}
.pagination>li.active>a:hover {
  border: 1px solid #db466b!important;
  background: #db466b!important;
  color: #fff!important;
}
/***********************
    EOF CONTENT LEFT SIDE
************************/



/******************************
        Social Media
******************************/

#kreator-social .fa-facebook-square:before {
    color: #3b5998!important;
}

#kreator-social .fa-facebook-square:hover:before {
    color: #2D4475!important;
}

#kreator-social .fa-twitter-square:before {
    color: #55acee!important;
}

#kreator-social .fa-twitter-square:hover:before {
    color: #4182B3!important;
}

#kreator-social .fa-google-plus-square:before {
    color: #dd4b39!important;
}

#kreator-social .fa-google-plus-square:hover:before {
    color: #9C3124!important;
}

#kreator-social .fa-instagram:before {
    color: #125688!important;
}

#kreator-social .fa-instagram:hover:before {
    color: #123854!important;
}

#kreator-social .fa-link:before {
    color: #727272!important;
}

#kreator-social .fa-link:hover:before {
    color: #333333!important;
}

/******************************
        EOF Social Media
******************************/