/*******************************
LANDING PAGE CSS
Indotuber v.1.03 - "Dancing Testicles"

                       /,_ \
                  ___    / /       ___
     "eikel"     //  7  / /       //  7
                (_-_/\_/ /       (_D_/\___
                 \      /          \    _ \
                  \    <           /   // /
                  _\    \__     __/   /_7 \
                 (   \     )   /  (      )/    "testikles"
                  \___\___/   (____\____/




*******************************/





/******************************
        Content
******************************/
.content{
    padding: 50px 0px;
}
/******************************
        EOF Content
******************************/





/******************************
        Hero
******************************/
#hero{
    margin-top: 70px;
    position: relative;
    background-image: url(../assets/bg/hero-bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#hero h1{
    position: relative;
    vertical-align: middle;
    font-size: 32px;
    color: white;
}
.hero__card{
    max-width: 300px;
    width: 100%;
    height: 100%;
    
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    
    background: #f5f5f5;
    border-radius: 10px;
}

#hero h5{
    max-width: 600px;
    color: white;
    font-weight: 500;
}

@media (min-width: 768px)
.hero__content {
    height: 550px;
    padding-bottom: 104px;
    top: 50px;
}
.hero__content {
    height: 400px;
    /* position: relative; */
    z-index: 2;
}
.page-container-full {
    width: auto;
}
.page-container {
    width: 1045px;
}
@media (min-width: 768px)
.page-container, .page-container-responsive {
    padding-left: 25px;
    padding-right: 25px;
}
.page-container, .page-container-responsive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
/******************************
        EOF Hero
******************************/





/******************************
        About
******************************/

.about__img{
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}



/******************************
        EOF About
******************************/





/******************************
        Last CTA
******************************/
#cta{
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/bg/end-cta.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
}
.cta__heading{
    color: white;
}
#cta p{
    width: 600px;
    margin: 0 auto;
}

#cta .btn{
    padding: 15px;
    width: 80%;
    max-width: 350px;
}
/******************************
        EOF Last CTA
******************************/