/*COLOR SCHEME

#44B39D Darg Green
#47C9AF Light Green
#3B3C3D Dark
#BF4A67 dark red
#E6567A  light red

EOF Color Scheme*/

html, body{
    font-family: 'Lato', sans-serif;
    color: #3B3C3D;
}
.body-wrap{
    position: relative;
    width: 100%;
}
a{
    color: #3B3C3D;
}
a:hover, a:active{
    color: #E6567A;
    text-decoration: none;
}
.mt-10{
    margin-top: 10px;
}
.plr-0{
    padding-left: 0;
    padding-right: 0;
}
.fb-share-button{
    bottom: 2px;
}


/*Navigation*/
.nav{
    background-color: white;
    border-bottom: 1px solid #ddd;
    height: 50px;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 4;
}
.nav-header__logo{
    background-image: url(../assets/logo/indotuber-logo-sm.png);
    background-size: 135px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 135px;
    text-indent: -99999px;
    text-align: center;
    margin: 0 auto;
}
@media(max-width:300px){
    .nav-header{
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-header__logo{
        background-image: url(../assets/logo/indotuber-icon-md.png);
        background-size: 30px;
        background-repeat: no-repeat;
        height: 30px;
    }
}
.nav-menu{
    float: right;
    transition: all 0.5s ease;
}
.nav-menu.active{
    display: block!important;
}
.nav-menu__list{
    list-style: none;
    margin-top: 5px;
}
.nav-menu__list__items{
    display: inline;
}
.nav-menu__list__items a{
    padding: 10px;
    margin-left: 5px;
    background-color: #eee;
    color: #777;
}
/*EOF Navigation*/





/*Burger*/
#burger {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #E6567A;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}
#burger.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 0px;
}
/*EOF Burger*/




/*Slidemenu*/
#slide-menu{
    position: fixed;
    
    z-index: 3;
    width: 250px;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
    
    background: #fbfbfb;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 3px 0px 5px #ddd;
    
    -webkit-transform: translate(-250px,0);
    -moz-transform: translate(-250px,0);
    -o-transform: translate(-250px,0);
    transform: translate(-250px,0);
    -webkit-transition: transform 0.25s ease;
    -moz-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}
#slide-menu.slide-active{
    position: fixed;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: transform 0.25s ease;
    -moz-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}
@media(min-width:768px){
    #slide-menu{
        max-width: 250px;
        float: left;
        height: calc(100vh - 50px);
        z-index: 0;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
    }
}

.slide-menu__list{
    list-style: none;
}
.slide-menu__list__items{
}
.slide-menu__list__items a{
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.slide-menu__footer{
    position: fixed;
    bottom: 10%;
    font-size: 10px;
    margin: 0 auto;
}
/*EOF Sidemenu*/


#content-wrapper{
    z-index: 0;
    margin-top: 60px;
}

@media(min-width:768px){
    #content-wrapper{
        -webkit-transform: translate(250px,0);
        -moz-transform: translate(250px,0);
        -o-transform: translate(250px,0);
        transform: translate(250px,0);
        margin-top: 80px;
    }
}

/*Main Content*/
.content-wrapper__items {
    margin-bottom: 20px;
}
.main-content__video{
    margin: 0 auto;
}
.main-content__video__title{
    box-shadow: 0 1px 1px 0 #cccccc;
    padding: 15px;
    border-top: 1px solid #eee;
    border-left: 5px solid #E6567A;
}
.main-content__video__title h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}
.btn-random{
    display: inline-block;
    text-shadow: none;
    background: #E6567A;
    color: white;
    border: none;
    width: 100%;
    min-width: 95px;
    margin: 0 auto;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}
@media(max-width:992px){
    .btn-random{
        height: 30px;
        font-size: 12px;
    }
}
.btn-random:hover{
    background: #BF4A67;
    color: white;
}
.main-content__info{
    background-color: #f7f7f7;
    box-shadow: 0 2px 1px 0 #cccccc;
    padding: 10px;
}
.main-content__info__profile{
    height: 100%;
}
.main-content__info__profile__img{
    max-height: 65px;
    max-width: 65px;
    margin-bottom: 0px;
    float: left;
}
.main-content__info__profile__img img{
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 100%;
    max-height: 50px;
    max-width: 50px;
}
.main-content__info__profile__channel{
    margin-left: 65px;
    line-height: 1.3;
    word-wrap: break-word;
}
.main-content__info__desc p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    color: #7b7b7b;
}
.main-content__info__category .btn-category{
    background: #E6567A;
    border: none;
    color: white;
    text-shadow: none;
    margin: 2px;
    font-size: 12px;
    padding: 5px;
}
@media(max-width:992px){
    #content-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .main-content__video{
        margin: 0 auto;
        max-width: 100%;
    }
    .main-content__info{
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
}
@media(max-width:768px){
    #content-wrapper{
        margin-top: 50px;
    }
    .main-content__video__title h3{
        font-size: 15px;
    }
    .main-content__video__title{
        margin: 10px;
    }
    #main-content{
        padding: 0;
    }
    .main-content__info{
        width: 95%;
    }
}
/*EOF Main Content*/





/*related videos*/
#related-videos{
    padding: 15px;
}
.related-videos__border{
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px 0 #cccccc;
}
.related-videos__title{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #ddd;
    border-left: 5px solid #E6567A;
    box-shadow: 0 1px 1px 0 #cccccc;
}
.related-videos__video-wrap{
    padding: 10px;
    margin-bottom: 10px;
}
.related-videos__video-wrap h4{
    margin-top: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*EOF related videos*/